<?xml version="1.0"?>
<config>
    <modules>
        <ND_Vivapayments>
            <version>0.1.1</version>
        </ND_Vivapayments>
    </modules>
    <global>
        <models>
            <vivapayments>
                <class>ND_Vivapayments_Model</class>
            </vivapayments>
        </models>
        <helpers>
            <vivapayments>
                <class>ND_Vivapayments_Helper</class>
            </vivapayments>
        </helpers>
        <resources>
            <vivapayments_setup>
                <setup>
                    <module>ND_Vivapayments</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vivapayments_setup>
            <vivapayments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vivapayments_write>
            <vivapayments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vivapayments_read>
        </resources>
        <blocks>
            <vivapayments><class>ND_Vivapayments_Block</class></vivapayments>
        </blocks>        
    </global>
    <frontend>
        <secure_url>
            <vivapayments_checkout>/vivapayments/checkout</vivapayments_checkout>
        </secure_url>
        <routers>
            <vivapayments>
                <use>standard</use>
                <args>
                    <module>ND_Vivapayments</module>
                    <frontName>vivapayments</frontName>
                </args>
            </vivapayments>
        </routers>
        <layout>
            <updates>
                <vivapayments>
                    <file>vivapayments.xml</file>
                </vivapayments>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>            
            <vivapayments_checkout>
                <merchant_id backend_model="adminhtml/system_config_backend_encrypted"/>                
                <model>vivapayments/checkout</model>
                <title>Viva Payments</title>
                <order_status>pending</order_status>
                <source_code>Default</source_code>
                <allowspecific>0</allowspecific>
            </vivapayments_checkout>
        </payment>
    </default>
</config>
